*{
    background-color: transparent;
    border: none;
    outline: none;
  
  }
  
  :root{
  
    --bg-color : #6458b2;
    --dark : #112a2f;
    --color : white;
    --submit : #3edb75;
    --xxl : 16pt;
    --xl : 12pt;
  }
  
  
  
  
  body {
      border-radius: 10px;
    
      background-image: linear-gradient(120deg, #1e3c72 0%, #2a5298 100%);
      display: flex;
      font-family: "DM Sans","serif";
    
      background-position: center;
      background-size: cover;
      flex-direction: column;
      color: var(--color);
    }
  
    .heading{
      text-align: center;
      font-size: var(--xxl);
      font-weight: bold;
     display: flex;
     flex-direction: column;
     align-items: center;
    }
    .heading img{
      width: 10em;
      height: 10em;
    }
    
    #option{
      display: flex;
      gap: 10px;
      /* align-items: center; */
      justify-content: center ;
    }
    #option button{
      color: var(--color);
      border-radius: 10px;
      padding: 5px 4px;
      border: 1px solid var(--bg-color);
      font-family: "DM Sans", "serif";
      width: 100px;
      cursor: pointer;
      /* backdrop-filter: blur(10px); */
      /* border: 1px solid var(--color); */
    }
    hr{
      border: 1px solid var(--color);
      width: 100%;
      margin: 15px 0px;
    }
    #popup-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      

    }
    .feild{
      display: flex;
      flex-direction: column;
      gap: .5em;
      width: 95%;
      ;
      
    }
    .feild div{
      display: flex;
    }
    .feild input{
      flex-grow: 1;
    }
    #popup-content label{
      font-size: var(--xxl);
      align-self: baseline ;
    }
    #popup-content input{
      border: 1px solid var(--color);
      width: 90%;
      height: 3em;
      border-radius: 10px;
      font-family: "DM Sans";
      padding: 1px 8px;
      color: var(--color);
      
    }
  
    #loginButton{
      background-color: var(--submit) ;
      margin-top: 20px;
      width: 100%;
      height: 4em;
      border-radius: 10px;
      color: #112e11;
  
      font-family: "DM Sans";
      cursor: pointer;
      font-weight: 800;
  
    }
    #loginButton:hover{
      background-color: #a9fac5;
    }
    #loginButton:active{
      transform: translate(1px,1px);
    }
  
    .selected{
      font-weight: 800;
      background-color: var(--bg-color);
    }
   